# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# Logs / temp
*.log
*.tmp
*.bak
*.swp

# IDEs
.vscode/
.idea/
*.iml
.classpath
.project
.settings/

# OS
.DS_Store
Thumbs.db
